h1{
    color:black;
    text-align: center;
}
#button_whatsapp{
    background-color: black;
    color: black;
}
#zap {
    border: 0px solid 
    blue;
    position: fixed;
    z-index: 99999;
    right: 28px;
    bottom: 25px;
    display: fixed;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
}

#menubutton{
    border: 0px solid blue;
    position: fixed;
    z-index: 99999;
    left: 0px;
    top: 0px;
    display: fixed;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
}

#buttonfixed{
    border-radius: 100%;   
}
#banner img{
    border-radius: 0%;
}
h2{
    text-align: center;
    font-family:  'arial black';
}
header{
    background-color: #F3F3F5;
}
#tel{
    background-color: #DBA109;
    border-bottom-left-radius: 40%;
    color: black;
}
a:hover{
    text-decoration: none;
}
#whatsapp{
    text-align: right;
}
li a{
    color:#DBA109;
}

li a:hover{
    color: #DBA109;
    border-bottom: 4px solid #E0A105;
}
#ademais{
    background-color: black;
    color: white;
}
#ademais p{
    text-align: center;
}
#quem_somos img {
    border-radius: 10%;
}

#estrutura img {
    border-radius: 2%;
}
.class{
    border-radius: 10%;
}

footer{
    text-align: center;
    background-color: black;
}

.card-body{
    background-color: black;
}


